extends layout 

block content 
  br  
  .container
    if tags.length
      .card-group 
        for tag in tags
          .col-12.col-md-4
            .card
              img.card-img-top(src=tag.image)
              .card-body.text-center
                .card-title #{tag.tagname}
                a.badge.badge-dark(href="/tag/" + tag._id) View Tag
    else
      .container.text-center
        h1 There are no tags to show
      
        
