extends layout

block content
  .container.text-center
    div.jumbotron
        .jumbo-pic
          img.image-fluid(src = '/images/jumbo.jpg')
        h1.display-4 Welcome to GraffitiTags 
        p.lead There is a beauty to graffiti, we can encounter many types of graffiti outside.
        hr.my-4
        p Share the graffiti tag you find the most interesting, create an account to share tags!
        if user
          a.btn.btn-primary.btn-large(href='/users/signup') Add a Tag
        else
          a.btn.btn-primary.btn-large(href='/users/signup') Register


