extends layout 

block content
  .container.text-center
    .col-12
      div.single
        img.card-img-top.one-img(src=tag.image)
      .card.single-card
        .card-body.text-center
          h1.display-4 #{tag.tagname}
          h4 location: #{tag.location}
          p.card-text #{tag.description}
          if user
            if tag.author.id == user.id
              h5#showEdit.btn.btn-info Edit tag below
                div#displayEdit
                  form.text-center.centered(method='POST', action='/tag/edit/' + tag._id)
                   .form-group
                     input.form-control.text-center(name='tagname',type='text', value= tag.tagname)
                   .form-group
                     input.form-control.text-center(name='description', type='text',  value= tag.description)
                   .form-group 
                     input.form-control.text-center(name='location' type='text', value= tag.location)
                   button.btn.btn-light(type='submit',value='Submit') update!
                   a.btn.btn-danger.delete-btn(href='#', data-id= tag._id) Delete
