@media only screen and (min-width: 768px){
  /*Layout*/
  body{
    background: #C9DFDF;
  }
  /*navigation bar*/

  .navbar.navbar-expand-md {
    background-color: rgba(172,228, 184, 1);
  }
  /*Errors display*/
  .alert-danger {
    background-color: #EBACA5;
    border-color: #F21A01;
    color: white;
  }
  #errorContainer{
    margin-top: 20px;
  }
  #errors {
    max-width: 500px;
    opacity: 0;
    transition: 200ms ease-in;
  }
  .centerE {
    max-width: 400px;
  }
  .test{
    opacity: 1;
  }
  .centered {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
  }
  /*index pug*/
  .jumbotron {
    background-image: url('https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
  /*Login*/
  #Con {
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: white;
    width: 60%;
  }
}

/*small Screen*/
@media only screen and (max-width: 767px){
  /*Layout*/
  body{
    background: #C9DFDF;
  }
  /*navigation bar*/
  .navbar.navbar-expand-md {
    background-color: rgba(172,228, 184, 1);
  }
  .navbar-toggler{
    color: #007bff;
  }
  /*errors*/
  .alert-danger {
    background-color: #EBACA5;
    border-color: #F21A01;
    color: white;
  }
  #errorContainer{
    margin-top: 20px;
  }
  #errors {
    opacity: 0;
    transition: 200ms ease-in;
  }
  /*index pug*/
  .jumbotron {
    background-image: url('https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  /*Login*/
  #Con {
    border-radius: 10px;
    padding-top: 10px;
    width: 90%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center
  }
  #form-section {
    padding-top: 20px;
  }
}
