body {
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 768px){
  /*Layout*/
  body{
    background: #8EE4AF;
  }
  /*navigation bar*/
  .nav-link {
    font-size: 20px;
  }
  #logo {
    height: 5rem;
    width: auto;
  }
  .border-info, .border-primary {
    border-color: #05386B!important;
    margin-right: 5px;
  }
  /*Errors display*/
  .alert-danger {
    background-color: #EBACA5;
    border-color: #F21A01;
    color: white;
    font-size: 20px;
  }
  #errorContainer{
    margin-top: 20px;
  }
  #errors {
    max-width: 500px;
    opacity: 0;
    transition: 200ms ease-in;
  }
  .centerE {
    max-width: 400px;
  }
  .test{
    opacity: 1;
  }
  .centered {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
  }
  /*index pug*/
  .jumbotron {
    background-image: url('https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
  /*Login*/
  #Con {
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30px;
    background-color: #EDF5E1;
    width: 60%;
  }
  .btn-primary {
    background-color: #05386B;
    border-color: #05386B;
  }
  /*Display all tags*/
  .cardALL {
    margin: 20px 10px;
    text-align: center;
    height: 450px;
    background-color: rgba(237,245,255,0.5);
    }
  .card-wrap {
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;
  }

  .img-top {
    min-height: 250px;
    transform: scale(1.2);
    transition: 300ms ease-out;
  }
  .img-top:hover {
    transform: scale(1);
  }

  #link-view {
    display: inline-block;
    object-fit: cover;
    color: #05386B;
  }
  #link-view:hover {
    background-color: rgba(168,168,168,.3);
    color: black;
  }
  /*Single image*/
  .single {
    overflow: hidden;
    width: 65vw;
    height: auto;
    margin: auto;
  }
  #displayEdit {
    display: none;
  }
  .single-card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/*small Screen*/
@media only screen and (max-width: 767px){
  /*Layout*/
  body{
    background: #C9DFDF;
  }
  /*navigation bar*/
  .navbar-toggler{
    color: #007bff;
  }
  #logo {
    height: 3rem;
    width: auto;
  }
  .border-info, .border-primary  {
    border-color: #05386B!important;
    margin-right: 5px;
  }
  /*errors*/
  .alert-danger {
    background-color: #EBACA5;
    border-color: #F21A01;
    color: white;
  }
  #errorContainer{
    margin-top: 20px;
  }
  #errors {
    opacity: 0;
    transition: 200ms ease-in;
  }
  /*index pug*/
  .jumbotron {
    background-image: url('https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  /*Login*/
  #Con {
    border-radius: 10px;
    padding-top: 10px;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center
  }
  #form-section {
    padding-top: 20px;
  }
  .btn-primary {
    background-color: #05386B;
    border-color: #05386B;
  }
  /*Display all tags*/
  .card {
    margin-top: 20px;
    text-align: center;
  }
  #link-view {
    display: inline-block;
    width: 100px;
    color: #05386B;
  }
  #link-view:hover {
    color: black;
  }

}
